@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Condensed:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farsan&family=Major+Mono+Display&family=Roboto+Condensed:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
/* Display block avec ajout de float, une size sur le premier block et le deuxieme prendra la place restante donc pas de taille en largeur */
/* float: left; */

html {
  scroll-behavior: smooth;
/* overflow-x: hidden; */
}

.topPage {
  width: 100vw;
  height: 100vh;
  background-color: #f1e3d3;
  position: relative;
}

.topPageDiv{
    position: relative;
}

header {
  padding-top: 0.5rem;
  height: 10vh;
}

h1 {
  text-align: center;
  color: #99c1b9;
  font-family: "Farsan", cursive;
  font-size: 3rem;
}

h3{
    font-family: "Jersey 25", sans-serif;
    font-size: 1.4rem;
    color: #8E7DBE;
}

.textTopPage{
    text-align: center;
    color: #99c1b9;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 4rem 3rem 4rem 3rem;
    font-size: 2.5rem;
}
#waveDay, #waveNight{
    width: 100%;
    position: absolute;
    bottom: -1px;
}

.projects{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8E7DBE;
    font-size:6rem;
    position: absolute;
    bottom: -7.5rem;
    left: center;
    z-index: 1;
}
.spano{
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px;
}

.arrowButton{
    position: fixed;
    border: solid 1px rgb(41, 39, 42, 0.3);
    background-color: #f1e3d3 ;
    box-shadow: 0px 2px #99c1b9;
    border-radius: 25px;
    width: 11vw;
    bottom: 6rem;
    left: 45vw;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.arrowButtonDark{
    position: fixed;
    border: solid 1px rgb(41, 39, 42, 0.3);
    background-color: #E0AAFF ;
    box-shadow: 0px 2px #8E7DBE;
    border-radius: 25px;
    width: 11vw;
    bottom: 6rem;
    left: 45vw;
    z-index: 2;
}

.navLien{
    background-color: #f1e3d3;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    height: 5.1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navImg{
    width: 4rem;
}

.ulIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0rem;
}

.buttonIcon {
  border: solid 1px #99c1b9;
  border-radius: 50px;
  padding-left: 0.5px;
  background-color: #f1e3d3;
}

.night {
  display: none;
}

.midPageSkills{
    background-color: #8AB9B0;
    height: 80vh;
    display: flex; 
    align-items: center; 
    flex-direction: column;
    padding: 6rem 3rem;
}

.photoProfil{
    border: #ffffff solid 10px;
    border-radius: 50%;
    opacity: 90%;
    width: 45vw;
    filter: grayscale(100%);
}

h2 {
  font-family: "Farsan", cursive;
}

.midPageSkills {
    color: #fdfaff;
    font-family: "Jersey 25", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
    position: relative;
}

.frontEnd{
    margin-bottom: 1.5rem ;
}

.BackEnd, .OtherSkills{
    border-top: #ffffff solid 4px;
    width: 80vw;
    margin-bottom: 1.5rem ;
}

.midPageProject{
    background-color: #f1e3d3;
    height: 80vh;
    text-align: center;
    padding: 6rem 1rem 2rem 1rem;
    font-size:2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.day.window, .night.window  {
  width: 10rem;
  padding: 0 10px;
}

#wave {
  width: 100vw;
}

header div li img {
  width: 35px;
  padding-left: 4px;
}

mark{
   background-color: #8E7DBE;
   font-family: "Jersey 25", sans-serif;
   font-weight: 400;
   font-style: normal;
}

#waveFooterDay, #waveFooterNight{
    width: 100vw;
    position: absolute;
    bottom: -1px;
    left: 0;
}

footer {
    height: 100vh;
    background-color: #8AB9B0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContact{
    position: relative;
    background-color: #F3F8F7;
    /* background-color: #29272A; */
    width: 70vw;
    height: 40vh;
    border-radius: 5px;
    padding: 0rem 1rem 0rem 2.2rem;
    flex-direction: column;
    margin-bottom: 5rem;
    line-height:30px;
}

.footerContact, .footerContact a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: #29272A;  
    /* color: #F3F8F7;   */
    text-decoration: none; 
    padding-top: 2rem;
    word-spacing: 4px;
}

.footerContact{
    font-size: larger;
}

.footerContact a {
    font-weight: bold;
}

.footerContact h4{
    font-size: 1.4rem;
}

.ulFooter{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.lienFooter {
    padding-top: 1.5rem;
    border-bottom: #8AB9B0 solid 1px;
    border-spacing: 0cm;
}

.bye{
    position: absolute;
    bottom: -9px;
    font-size: 4rem;
    font-weight: bold;
    color: #8E7DBE;
    font-family: "Jersey 25", sans-serif;
}

.darkTheme{
    color: #E0AAFF ;
}

.darkThemeWriteBlack{
    color: #29272A;
}
.darkThemeThing{
    background-color: #29272A;
    border-color: #E0AAFF;
}

.darkThemeSection{
    background-color: #E0AAFF;
}

.darkThemePurple{
    background-color: #774069;
};

/* @media (min-width: 600px) {


    .vintageItemsDay:hover, .vintageItemsNight:hover{
        transition-duration: 0.5s;
        transform: scale(1.1);
    }  

    .hoverimage:hover{
        transition-duration: 0.5s;
        transform: scale(1.1);
    }  
} */

/* @media (min-width: 801px) {
    
}
@media (min-width: 1025px) {
  
}
@media (min-width: 1600px) {

}  */
